<header class="navbar navbar-fixed-top navbar-inverse">
	<div class="navbar-inner">
		<div class="container">
			<%= link_to "Positiv Kompetanse", root_path, id: "logo" %>
			<nav>
				<ul class="nav pull-right">
					<li><%= link_to "Home",   	root_path    %></li>
					<li><%= link_to "Tjenester", tjenester_path    %></li>
					<li><%= link_to "Om Oss",  	about_path   %></li>
					<li><%= link_to "Contact",	contact_path %></li>
					<li><%= link_to "Rekruttering", 	rekruttering_path %></li>
					<li><%= link_to "Sign", '#' %></li>
				</ul>
			</nav>
		</div>
	</div>
</header>